# Python
__pycache__/
*.pyc
*.pyo
*.env
*.venv
# Spark
spark-warehouse/
*.crc

# Kafka
kafka-logs/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/webserver_config.py

# Checkpoints
checkpoints/
*/checkpoints/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

